@import url('https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    text-align: center;
  
}

.container-fluid {
    position: sticky;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
}

/* .navbar {
    position: relative;
    display: block!important;
    display: flex;
     -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 0!important;
}

.navbar-light .navbar-toggler  {
    color: none;
    border-color: transparent!important;
}

.navbar-brand {
    padding-left: 1.5em;
    
}

.row2 {
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-expand {
    line-height: 1px;
}

.navbar-toggler-icon span {
    background-image: url("/images/ham.png");
}

.navbar-light {
    line-height: 2em;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("/images/ham.png");
    width: 20px;
    height: 15px;
    vertical-align: -moz-middle-with-baseline;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.nav-link {
    display: block;
    padding: .5rem 0rem;
} */

#nav {
    border-color: white;
}

#navbar {
    padding: 1em 0;
}

#navbarNav ul {
    line-height: 2em;
}

.navEdit img {
    width: 15%;
}

.navEdit {
    display: contents!important;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    color: #333333;
    line-height: 1em;
}

p {
    font-family: 'Arial';
    font-size: 0.1 rem;
    color: #333333;
}

.container {
    font-family: 'Oswald', sans-serif;
}

.header {
    box-shadow: 0px 0px 4px rgb(187, 187, 187);
    box-sizing: border-box;
    position: relative;
}

.upper-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
}

.textbox-header h3 {
    font-family: 'Oswald';
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.action {
    background-color: #80ada0;
    color: white;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.store {
    color: white;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: hsla(162.66666666666663, 14.95%, 41.76%, 1);
}

.lower-header {
    
    background-color: rgb(255, 255, 255);
    margin: 1em 0;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
}

.logo a img {
    width: 50px;
    padding-left: 3em;
}

.ham a img {
    width: 20px;
    padding-top: 0.5em;
    padding-left: 34em;
    float: right;
}

.menu {
    text-decoration: none;
    font-family: 'PT-Sans', sans-serif;
    color: #333333;
    display: none;
    height: 100%;
}

.menu-block .menu-6 {
    display: none;
}

.body-1 {
    padding: 1em 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.body-1 h1 {
    font-family: Oswald, sans-serif;
    font-size: 3.1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    
}

.body-2 ul li {
    list-style-type: none;
    font-family: 'Oswald';
    font-size: 2rem;
    color: #333333;
    line-height: 40px;
    font-family: Oswald, sans-serif;
}

.body-2 ul p{
    line-height: 0.1em;
    font-family: 'Arial' sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.body-2 {
    
    padding: 1em 0;
    background-color: rgb(252, 224, 18);
    list-style-type: none;
    text-align: center;
}

.body-3 {
    padding-top: 2em;
}

.body-3 h1 {
    font-family: Oswald, sans-serif;
    color:#333333;
    font-size: 40px;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.body-3 img {
    position: absolute;
    display: inline-block;
    width: 20%;
    margin-top: -16.7em;
    margin-left: 4.7em;
    height: 3em;
}

.body-3 span {
    font-weight: 600;
    color: rgb(51, 51, 51);
}


.body-3 p {
    padding-top: 1em;
    padding: 0 4em;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    position: relative;
    z-index: 1;
    color: rgb(90, 90, 90);
    text-align: center;
}

.body-4 {
    padding-bottom: 5em;
    padding-top: 2em;
    background-color: #f2f2f2;
    line-height: 4em;
    text-align: center;
}

strong {
    font-size: 24px;
    font-family: Oswald;
    text-transform: uppercase;
}

.body-4 h4 {
    margin-top: -150px;
    font-family: Montserrat, sans-serif;
    font-size: 170px;
    text-align: center;
}

.body-4 p {
    margin-top: -20px;
    margin-left: 95px;
    margin-right: 95px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1em;
    color: rgb(90, 90, 90);
    padding-bottom: 1em;
    text-align: center;
}

.body-4 img {
    width: 80%;
    padding-top: 20px;
}

.body-5 .row {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
}

.body-5 h2 {
    margin-top: 1.5em;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.books {
    display: flex;
    text-align: center;
    position: relative;
}

.bookcard-1 {
    margin: 1em 0em;
    padding: 1em 1em;
    display: inline-block;
    max-width: 100%;
    box-shadow: 1px 1px 6px 0 #cfcaca;
    box-sizing: border-box;
}

.bookcard-1 .book-heading span {
    font-size: 1.4rem;
    color: #333333;
}

.bookcard-1 .book-text p {
    font-size: 1rem;
    color: #333333;
}

.col2 {
    margin-top: -1.5em;
}

.bookcard-2 {
    margin: 2.5em 1em;
    padding: 1em 1em;;
    display: inline-block;
    max-width: 100%;
    box-shadow: 1px 1px 6px 0 #cfcaca;
    box-sizing: border-box;
}

.bookcard-2 .book-heading span {
    font-size: 1.4rem;
    color: #333333;
}

.bookcard-2 .book-text p {
    font-size: 1rem;
    color: #333333;
}

.bookcard-3 {
    margin: 1em 0em;
    padding: 1em 1em;
    display: inline-block;
    max-width: 100%;
    box-shadow: 1px 1px 6px 0 #cfcaca;
    box-sizing: border-box;
}

.bookcard-3 .book-heading span {
    font-size: 1.4rem;
    color: #333333;
}

.bookcard-3 .book-text p {
    padding-top: em;
    font-size: 1rem;
    color: #333333;
}

.bookcard-4 {
    margin: 1em 0em;
    padding: 1em 1em;
    display: inline-block;
    max-width: 100%;
    box-shadow: 1px 1px 6px 0 #cfcaca;
    box-sizing: border-box;
}

.bookcard-4 .book-heading span {
    font-size: 1.4rem;
    color: #333333;
}

.bookcard-4 .book-text p {
    padding-top: em;
    font-size: 1rem;
    color: #333333;
}

.body-6 {
    margin-top: 1em;
    padding-top: 2em ;
    padding-bottom: 4em;
    background-color: #f2f2f2;
    text-align: center;
}

.body-6 h4 {
    margin-top: -130px;
    font-family: Montserrat, sans-serif;
    font-size: 170px;
    text-align: center;
}

.body-7 {
    text-align: center;
} 

.body-7 h1 {
    display: inline-block;
    line-height: 1.9em;
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #333333;
    padding: 0 1em;
    margin-top: 2em;
}

.body-7 h1 span {
    padding: 0 0.3em;
    background-color: rgb(252, 224, 18);
}

.body-7 p {
    margin: 24px;
    padding: 0 4.5em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3em;
    color: rgb(90, 90, 90);
    text-align: center;
}

.body-8 {
    
    position: relative;
}

.body-8 {
    margin-top: 1em;
    padding-top: 1em ;
    padding-bottom: 2em;
    background-color: #f2f2f2;
}

.body-8 img {
    width: 25%;
    padding-bottom: 0em;
}

.body-8 .teach {
    display: inline-block;
    height: 100%;
}

.body-8 section p {
    padding: 0em 0em;
}

.body-9 {
    margin-top: 3em;
    text-align: center;
}

.body-9 span {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.body-9 h4 {
    margin-top: -135px;
    font-family: Montserrat, sans-serif;
    font-size: 170px;
    text-align: center;
}

.body-9 p {
    padding-top: 20px;
    margin-top: -1.5em;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: rgb(90, 90, 90);
}

.body-9 strong {
    margin-top: 10px;
    padding-right: 15%;
    padding-left: 15%;
    font-family: "PT Sans", sans-serif;
    color: #5e5e5e;
    font-size: 20px;
    text-align: center;
    text-transform: none;
    font-weight: lighter;
}

.body-9 span {
    font-size: 1.4rem;
    color: #333333;
}

.body-9 img {
    width: 110px;
    border-radius: 5em;
    text-align: center;
    position: relative;
}

.body-9 .col-6 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.advisor-pedro {
    height: 350px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: #fce012;
    box-shadow: 0 10px 18px 6px hsla(220.8, 43.48%, 54.9%, 0.18);
}

.pedro-card {
    margin-right: auto;
    margin-left: auto;
}

.advisor-ekugo {
    height: 350px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: #fce012;
    box-shadow: 0 10px 18px 6px hsla(220.8, 43.48%, 54.9%, 0.18);
}

.ekugo-card {
    margin-right: auto;
    margin-left: auto;
}

.advisor-lawson {
    margin: 1.5em 0;
    height: 350px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: #fce012;
    box-shadow: 0 10px 18px 6px hsla(220.8, 43.48%, 54.9%, 0.18);
}

.lawson-card {
    margin-right: auto;
    margin-left: auto;
}

.advisor-ikeakor {
    margin: 1.5em 0;
    height: 350px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: #fce012;
    box-shadow: 0 10px 18px 6px hsla(220.8, 43.48%, 54.9%, 0.18);
}

.ikeakor-card {
    margin-right: auto;
    margin-left: auto;
}

.advisors {
    height: 350px;
margin-right: 5px;
margin-left: 5px;
padding: 40px 20px;
border-radius: 5px;
background-color: #fce012;
box-shadow: 0 10px 18px 6px hsla(220.8, 43.48%, 54.9%, 0.18);
}

.body-9 .textbox-main {
    margin-top: -20px;
padding-right: 15%;
padding-left: 15%;
font-family: "PT Sans", sans-serif;
color: #5e5e5e;
font-size: 2em;
text-align: center;
text-transform: none;
}

.body-10 {
    padding-bottom: 5em;
    margin-bottom: -5em;
    margin-top: 12em;
    position: relative;
    text-align: center;
}

.body-10 h1 {
    margin: .5em 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    font-size: 38px;
    line-height: 44px;
}

.body-10 p {
    padding: 1em 8em;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.body-10 button {
    margin-bottom: -2em;
    padding: 15px 4em;
    border: 2px solid #000;
    background-color: transparent;
    font-family: Oswald, sans-serif;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    
}

.body-10 .hero-one img {
    padding-top: 5px;
    background-image: url("/images/actionbg.svg");
    z-index: -1;
    margin-top: -25em;
    position: absolute;
    display: block;
}

.body-10 .hero-two img {
    padding-top: 5px;
    background-image: url("/images/actionbg.svg");
    z-index: -1;
    margin-top: -20em;
    position: absolute;
    display: block;
}

.body-11 {
    margin-top: 8em;
    padding: 0.5em 2em;
    background-color: #000;
}

.body-11 p {
    padding: 0.6em 1em;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
}

@media (min-width: 360px), (max-width: 460px){

    #navbarNav ul {
        line-height: 2em;
        background-color: green;
    }

    .body-1 h1 {
        font-family: Oswald, sans-serif;
        font-size: 2.1em;
    }

    .body-2 {
        padding-right: 2.5em;
    }

    .body-3 {
        position: relative;
        padding: 1.5 0em;
    }

    .body-3 p {
        padding: 0 0.5em;
    }

    .body-3 span {
        background-image: url('./images/text-highlighter.png');
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 6px;
    }

    .body-3 h1 {
        font-family: Oswald, sans-serif;
        font-size: 2.1em;
        line-height: 1.2;
        margin-top: 2em;
    }

    .body-4 {
        line-height: 2em;
    }

    .body-4 p {
        margin-left: 1em;
        margin-right: 1em;
    }

    .body-4 img {
        margin: 0.7em 0;
    }

    .body-5 h2 {
        margin-top: 1.5em;
        margin-bottom: 20px;
        
        font-weight: bolder;
        font-size: 24px;
    }

    .body-6 {
        padding: 2.5em 2em;
    }

    #owl-carousel {
        font-size: 18px;
        margin-bottom: -3.5em;
        padding: 0 2em;    
        text-align: center;    
    }

    #owl-carousel p {
        font-family: "PT Sans", sans-serif;
    }

    #owl-carousel img {
        width: 60%;
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }

    .body-7 h1 {
        line-height: 1.5;
    }

    .body-7 p {
        padding: 0em 0.8em;
    }

    .body-9 .textbox-main {
        padding: 0em 1.5em;
        padding-bottom: 1em;
    }

    .body-10 {
        padding-bottom: 5em;
        margin-bottom: -5em;
        margin-top: 5em;
        position: relative;
        text-align: center;
    }

    .body-10 h1 {
        font-size: 30px;
    }

    .body-10 p {
        margin: 0 0em;
        padding: 2em;
        padding-top: 0em;
    }

    .hero-one {
        padding-top: 5px;
        margin-top: 3.5em;
    }

    .hero-two {
        padding-top: 5px;
        margin-top: 5.5em;
        margin-bottom: -10em;
    
    }

    .body-11  {
        margin-top: 8em;
        padding: 0.5em 0em;
        
    }
}


@media (min-width: 460px), (max-width: 760px) {


    .container-header {
        width: 1010px;
        height: 80px;
        box-shadow: 1px 3px 0 rgba(0, 0, 0, 0);
    }
    
    .header {
        width: 1010px;
        height: 80px;
    }


    .lower-header {
        margin: 0;
        padding: 0;
        display: flex;
        height: 80px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;
    }

    .logo {
        position: relative;
        float: left;
        text-decoration: none;
        color: #333333;
    }
    

    .logo a {
        order: -1;
        width: 0px;
        padding: 0px;
    }

    .logo img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }

    .menu-nav {
        width: 663px;
        padding: 81px;
    }


    .menu {
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        color: #222222;
        padding: 20px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0em;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-ordinal-group: 2;
        order: 1;
        position: relative;
    }


    .menu a {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: rgb(34, 34, 34);
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        padding: 10px;
    }

    .menu-block {
        width: 100px;
        height: 81px;
        align-self: center;
        flex: 0 auto;
        background-color: #fce012;
        color: #000;
        text-align: center;
        text-decoration: none;
}
    
    .menu-block .menu-6 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 29px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: Lato, sans-serif;
        color: #333;
        font-weight: 600;
        text-decoration: none;
    }

    .menu-6 a {
        display: block;
        align-items: center;
        font-family: Lato, sans-serif;
        color: #333;
        font-weight: 600;
        text-decoration: none;
    }

    .ham a img {
        display: none;
    }

}